<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <!--引入bootstrap核心css-->
    <link rel="stylesheet" th:href="@{/boot/css/bootstrap.min.css}">
    <!--引入jquery核心js-->
    <script th:src="@{/boot/js/jquery-3.5.1.min.js}"></script>
    <!-- 引入bootstrap的核心js-->
    <script th:src="@{/boot/js/bootstrap.min.js}"></script>

    <script>
            function  editUserInfo() {
                var p1=$("#pwd1").val();
                var p2=$("#pwd2").val();
                if(p1!=p2){
                    alert("两次密码不一致,请重新输入");
                }else{
                    $.ajax({
                        url:"[[@{/updateUser}]]",
                        type:"post",
                        dataType:"json",
                        data:$("#edUserForm").serialize(),
                        success:function (res) {
                           if (res.status){
                                alert(res.msg);
                               sessionStorage.clear();
                               window.location = "[[@{/login}]]";

                           }else{
                               alert(res.msg);
                           }
                        }
                    });
                }

            }

    </script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/studentMgr}">学生管理系统 <span class="badge">v1.0</span></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">欢迎：<span class="text-center" th:text="${session.user.username}">小黑</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"  data-toggle="modal" data-target="#editUser">修改密码</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">系统设置</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/login}">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--页面主题内容-->
<div class="container-fluid">
    <!--栅格系统-->
    <div class="row">
        <!--菜单-->
        <div class="col-sm-2">

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span class="glyphicon glyphicon-user">学生管理</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item"><a th:href="@{/findAllStudent}" >学生列表</a></li>
<!--                                <script th:inline="javascript" type="text/javascript">-->
<!--                                    $(function () {-->
<!--                                        $("#btn").click(function () {-->

<!--                                            //动态更新中心内容load将远程url对应的页面源码包含到指定选择器中-->
<!--                                            $("#content").load('./findAllStudent');-->
<!--                                        });-->
<!--                                    })-->
<!--                                </script>-->
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="glyphicon glyphicon-apple">系统管理</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item"><a href="">数据备份</a></li>
                                <li class="list-group-item"><a href="">系统状态</a></li>
                                <li class="list-group-item"><a href="">系统监控</a></li>
                            </ul>
                        </div>
                    </div>
                </div>



                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <span class="glyphicon glyphicon-blackboard">信息管理</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item"><a href="">信息公告</a></li>

                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!--页面中心内容-->
        <div id="content">
            <div class="col-sm-10">
                <!--巨幕-->
                <div class="jumbotron">
                    <h1>Hello, 欢迎你<span th:text="${session.user.username}"></span></h1>
                    <p>Welcome to use this system, the current version of this system is 1.0</p>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                </div>
                <!--关闭警号框-->
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5>网站程序漏洞，请继续修复</h5>
                    <p>当前版程序(v1.0)出现严重安全性问题，请尽快<a href="" class="alert-link">修复</a> ！</p>
                    <p>
                        <button class="btn btn-danger">立即修复</button>
                        <button class="btn btn-default">稍后处理</button>
                    </p>
                </div>

                <!--面板-->
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-wrench">系统状态</span></div>
                    <div class="panel-body">
                        <label>内存使用率:(40%)</label>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                40%<span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                        <label>cpu使用率:(20%)</label>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                20%<span class="sr-only">20% Complete</span>
                            </div>
                        </div>
                        <label>磁盘使用率:(60%)</label>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                60%<span class="sr-only">60% Complete (warning)</span>
                            </div>
                        </div>
                        <label>数据库使用率:(80%)</label>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                80%<span class="sr-only">80% Complete (danger)</span>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="editUser">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改密码</h4>
            </div>
            <div class="modal-body">
                <form id="edUserForm">
                    <div class="form-group">
                        <label for="username">用户名</label>
                        <p class="form-control-static" th:text="${session.user.username}"></p>
                        <input type="hidden" class="form-control" id="username"  name="username" th:value="${session.user.username}">
                    </div>
                    <div class="form-group">
                        <label for="pwd1">密码</label>
                        <input type="password" class="form-control" id="pwd1" name="password" placeholder="请输入密码">
                    </div>
                    <div class="form-group">
                        <label for="pwd2">确认密码</label>
                        <input type="password" class="form-control" id="pwd2" name="password2" placeholder="请再次输入密码">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="editUserInfo()">确认修改</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消修改</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>